# Node.js specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.npm/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tsbuildinfo

# Virtual environments
.venv/
venv/
env/
*env_tmp/
*service_tmp/
*-env/
build-envs/
llama-cpp-env/

# uv specific files
.lockfiles/
.uvcache/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Distribution / packaging
dist/
dist-ssr/
build/
*.egg-info/
release/
*.local

# IDE files
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Python packaging
package_res/
build_resources/
build_envs/
WebUI/external/service/
WebUI/external/workflows_intel/
WebUI/external/workflows_bak/

# Documentation builds
docs/_build/
site/

# Database files
*.sqlite
*.db
db/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
logs/
*.log

# Binaries and large files
*.exe
*.7z
*.whl

# Project-specific directories
ComfyUI/
LlamaCPP/
OpenVino/
llm_cache/
cache/
temp/
static/*
!static/assets/
models/llm/
models/stable_diffusion/*
!models/stable_diffusion/ESRGAN/
!models/stable_diffusion/preview/
.qodo

# Allow specific tool executables
!tools/*.exe
