# Virtual environments
.venv/
venv/
env/

# uv specific files
.lockfiles/
.uvcache/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Python packaging
package_res/
build_resources/
build_envs/
release/
WebUI/external/service/
WebUI/external/workflows_intel/
WebUI/external/workflows_bak/

# Documentation builds
docs/_build/
site/

# Database files
*.sqlite
*.db

# Jupyter Notebook
.ipynb_checkpoints/

*.exe
*.7z
*.whl
ComfyUI/
env
llama-cpp-env/
*env_tmp/
*service_tmp/
*-env/
build-envs/
portable-git/
llm_cache/*
.qodo
